@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
/* ************************************************************ */
/* HTML */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  background-color: rgb(255, 255, 255);
  font-size: 20px;
  line-height: 1;
}
/* ******************************header****************************** */
header {
  height: 85px;
  width: 100%;
  display: flex;
  background-color: rgb(255, 255, 255);
  color: #000 ;
  justify-content: center;
  border-bottom: 1px solid rgba(141,132,132,0.57);
}
.header__container {
  max-width: 1507px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo-img{
  width: 80px;
  height: 24px;
}
/* ******************************nav****************************** */

/* ******************************main****************************** */
.main {
  flex: 1 1 auto;
}
/* ******************************wrapper****************************** */
.wrapper {
  overflow-x: hidden;
  min-height: 100%;
}
/* ******************************section****************************** */
.section{
  width: 100%;
  display: flex;
  justify-content: center;
}
.section--margin{
  margin-top: 170px;
}
.section--forbidden-forest{
  background-color: #245852;
}
.section--background{
  min-height: 100vh;
}

/* ******************************section__title****************************** */
.container {
  max-width: 1507px;
  width: 100%;
}
.section--margin .about__container_manage{
  display: flex;
}
.section__container_manage {
  max-width: 440px;
  width: 100%;
  height: 384px;
  margin-top: 175px;
  margin-bottom: 336px;
}
/* ******************************section__title****************************** */
.section__title{
  font-family: "Georgia";
  font-style: normal;
  font-weight: 700;
  color: #01996d;
}
.section__title--mode{
  font-size: 65px;
  margin-bottom: 30px;
  line-height: 74px;
}
.section__title--size{
  font-size: 50px;
  line-height: 157%;
}
.section__title--margin{
  margin-bottom: 20px;
}
.section__title--white{
  color: #ffffff;
  margin-bottom: 30px;
}
/* ******************************section__text****************************** */
.section__text{
  font-family: "Lato";
  font-style: normal;
  font-size: 20px;
  line-height: 31px;
  color: #424242;
}
.section__text--size{
  max-width: 420px;
  width: 100%;
  height: auto;
  font-weight: 400;
  margin-bottom: 18px;
}
.section__text--mod{
  max-width: 652px;
  width: 100%;
  height: 100%;
  line-height: 150%;
  margin-top: 58px;
  margin-left: 137px;
}
.section__text--margin{
  font-weight: 400;
  margin-bottom: 40px;
}

/* ******************************section__text****************************** */
/* ******************************section__title****************************** */
/* ******************************section__title****************************** */


/* __________________________________________________________________________ */

.section__link {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  display: block;
  max-width: 227px;
  width: 100%;
  height: 65px;
  background: #01996d;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
/* ******************************about__container****************************** */

.about__container_block {
  display: flex;
  max-width: 584px;
  width: 100%;
  flex-direction: column;
  height: auto;
  
}
.about__container_manage {
  max-width: 1507px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
}
.about__container_works {
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 38px;

  color: #424242;
}
/* ******************************cards__container_manage****************************** */
.cards__container_manage {
  display: flex;
  justify-content: space-between;
  margin-top: 208px;
  margin-bottom: 30px;
}
.card__container_first {
  max-width: 390px;
  width: 100%;
  min-height: 792px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card__container_second {
  max-width: 390px;
  width: 100%;
  min-height: 709px;
  height: 100%;
  margin-top: 287px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.card__container_third {
  max-width: 390px;
  width: 100%;
  min-height: 712px;
  height: 100%;
  margin-top: 53px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}
.card__img2 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}
.card__img3 {
  border-radius: 12px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card__text1 {
  margin-bottom: 60px;
}
.card__text2 {
  margin-bottom: 37px;
}
.card__text3 {
  margin-bottom: 48px;
}
.card__text1,
.card__text2,
.card__text3 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 150%;
  color: #424242;
}
.card_head1 {
  position: relative;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 150%;
  text-align: center;
  color: #000000;
  max-width: 181px;
  margin-bottom: 55px;
}
.card_head1::before {
  content: "01";
  position: absolute;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 150px;
  color: rgba(1, 153, 109, 0.2);
  top: -45px;
  left: -88px;
}
.card_head2 {
  position: relative;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 150%;
  text-align: center;
  color: #000000;
  max-width: 313px;
  margin-bottom: 55px;
}
.card_head2::before {
  content: "02";
  position: absolute;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 150px;
  color: rgba(1, 153, 109, 0.2);
  top: -45px;
  left: -79px;
}
.card__head3 {
  position: relative;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 150%;
  text-align: center;
  color: #000000;
  max-width: 105px;
  margin-bottom: 45px;
}
.card__head3::before {
  content: "03";
  position: absolute;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 150px;
  color: rgba(1, 153, 109, 0.2);
  top: -45px;
  left: -124px;
}
/* ******************************page__third****************************** */

.story__container {
  max-width: 1507px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 229px 68px 176px 68px;
}
.story__container_manage {
  max-width: 580px;
  width: 100%;
  flex-direction: column;
  display: flex;
  margin-top: 81px;
}
.story__container_title {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 157%;
  /* or 79px */
  color: #ffffff;
}
.story__container_text {
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 157%;
  /* or 39px */
  color: #ffffff;
  margin-bottom: 57px;
}
.story__container_link {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  /* identical to box height, or 125% */
  color: #ffffff;
  display: block;
  max-width: 227px;
  width: 100%;
  height: 65px;
  background: #01996d;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.story__img_container {
  max-width: 895px;
  width: 100%;
  max-height: 516px;
  height: 100%;
}
/* ******************************page__four****************************** */

.product__container {
  width: 100%;
  max-width: 1507px;
  display: flex;
  justify-content: space-between;
  margin: 120px 0;
}

/* // Relevant styles */
.img__product_content {
  width: 100%;
  max-width: 699px;
  display: grid;
  position: relative;
  grid-template-columns: repeat(11, 1fr);
  padding: 0 5%;
}

.img__product_firs {
  grid-column: 2 / -1;
  grid-row: 1;
}

.img__product_second {
  grid-row: 1;
  grid-column: 1 / span 5;
  padding-top: 105%;
  z-index: 1;
}

img {
  width: 100%;
  display: block;
}
/* ******************************product__content****************************** */
.product__content {
  max-width: 584px;
  width: 100%;
  padding: 0 5%;
}
.product__content_head{
  font-family: 'Lato';
font-style: normal;
font-weight: 600;
font-size: 25px;
line-height: 157%;
color: #424242;
margin-bottom: 10px;
}
.product__content_btn {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
  max-width: 227px;
  width: 100%;
  height: 65px;
  background: #01996d;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* ******************************footer****************************** */
.footer {
  display: flex;
  background: #245852;
  max-height: 654px;
  height: 100%;
  justify-content: center;

}
.footer__logo {
  max-width: 105px;
  width: 100%;
  height: auto;
}
.foote__conten_list {
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  color: #ffffff;
}
.footer__container {
  max-width: 1507px;
  width: 100%;
  margin: 0 68px;
  margin-top: 94px;
  margin-bottom: 94px;
  display: flex;
  flex-direction: column;
  row-gap: 60px;
  padding: 0 10px;
}
.footer__ul_content{
  display: flex;
  flex-direction: column;
  row-gap: 60px;
}
.menu__link:hover,
.section__link:hover,
.story__container_link:hover,
.product__content_btn:hover,
.foote__conten_list:hover
 {
  color:#32CD32;
}
.menu__link:active,
.section__link:active,
.story__container_link:active,
.product__content_btn:active,
.foote__conten_list:active
 {
  color:#4beae2;
}
/* ******************************media__min****************************** */
@media (min-width: 1140px) {
  .menu__button{
    max-width: 183px;
    width: 100%;
    height: 51px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #01996d;
    color: white;
    padding: 0 30px;
  }
  .header__container {
    margin: 0 68px;
  }
  .container {
    margin: 0 68px;
  }
  .hamburger-menu{
    max-width: 1117px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  #hamburger_menu__toggle{
    display: none;
  }
  .menu-toggler,.menu-toggler__line{
    display: none;
  }
  .menu__list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 556px;
    width: 100%;
  }
  .menu__list--autorization{
    max-width: 278px;
    width: 100%;
  }
  .menu{
    max-width: 1117px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Lato";
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
  }
  .header__logo{
    margin-right: 50px;
  }
  .menu__link{
    font-weight: 500;
    margin:0 10px;
    
  }
  .about__container_block {
    margin-left: 68px;
  }
  .section__text--mod {
    margin-right: 68px;
  }
  .cards__container_manage {
    margin-left: 68px;
    margin-right: 68px;
  }
  .section--background {
    
    background: url("../img/bg4.png") center/cover no-repeat;
  }
}
/* ******************************media__max****************************** */
@media(max-width: 1139px) {
  .section__container_manage {
    display: block;
    margin-top: 260px;
  }
  .header {
    position: fixed;
    z-index: 30;
  }
  .section--background {
    margin-top: 85px;
    background: url("../img/bg4.png") center/cover no-repeat;
  }
  .header__container,.container {
    margin: 0 68px;
  }
  .about__container_manage {
    padding: 0 25px 0 25px;
  }
}
@media (max-width: 900px) {
  .header__container {
    margin: 0 32px;
  }
  .container {
    margin: 0 0;
    padding: 0 5%;
  }
  .section--background {
    background: url("../img/bg5.png") center/cover no-repeat;
  }
  .about__container_manage {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .about__container_block {
    margin: 0 auto;
    margin-bottom: 60px;
  }
  .section__text--mod {
    margin: 0 0 0 0;
  }
  .cards__container_manage {
  padding: 0 10%;
}
}
@media (max-width: 1300px) {
  .cards__container_manage {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .cards__container_manage,
  .card__container_second,
  .card__container_third {
    margin-top: 100px;
  }
  .page__second {
    min-height: 2500px;
  }
  .story__container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 25px 50px 25px ;
  }
  .story__container_link{
    margin-bottom: 50px;
  }
  .product__container{
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
}