@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");
/* ************************************************************ */
/* HTML */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
html,
body {
  counter-reset: section;
  height: 100%;
  background-color: rgb(255, 255, 255);
  font-size: 20px;
  line-height: 1;
}
img {
  width: 100%;
  display: block;
}
/* ******************************header****************************** */
header {
  height: 85px;
  width: 100%;
  display: flex;
  background-color: rgb(255, 255, 255);
  color: #000 ;
  justify-content: center;
  border-bottom: 1px solid rgba(141,132,132,0.57);
}
.header__container {
  max-width: 1507px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo-img{
  width: 80px;
  height: 24px;
}
/* ******************************main****************************** */
.main {
  flex: 1 1 auto;
}
/* ******************************wrapper****************************** */
.wrapper {
  overflow-x: hidden;
  min-height: 100%;
}
/* ******************************section****************************** */
.section{
  width: 100%;
  display: flex;
  justify-content: center;
}
.section--margin{
  margin-top: 170px;
  margin-bottom: 30px;
}
.section--forbidden-forest{
  background-color: #245852;
}
.section--background{
  min-height: 100vh;
}

/* ******************************container****************************** */
.container {
  max-width: 1507px;
  width: 100%;
}
.section--background .container{
  display: flex;
  align-items: center;
}
.section--forbidden-forest .container{
  display: flex;
  justify-content: space-between;
  margin: 229px 68px 176px 68px;
}
.section:nth-child(4) .container{
  display: flex;
  justify-content: space-between;
  margin: 120px 0;
}
.footer .container{
  margin: 0 68px;
  margin-top: 94px;
  margin-bottom: 94px;
  display: flex;
  flex-direction: column;
  row-gap: 60px;
  padding: 0 10px;
}
/* ******************************container__manage****************************** */

.section--background .container__manage {
  max-width: 440px;
  width: 100%;
  height: 384px;
}
.section--margin .container__manage{
  max-width: 1507px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.container__manage--margin{
  margin-top: 208px;
}
.section--forbidden-forest .container__manage:nth-child(1){
  max-width: 580px;
  width: 100%;
  flex-direction: column;
  display: flex;
  margin-top: 81px;
}
.section--forbidden-forest .container__manage:nth-child(2){
  max-width: 895px;
  width: 100%;
  max-height: 516px;
  height: auto;
}
.section:nth-child(4) .container__manage:nth-child(1){
  width: 100%;
  max-width: 699px;
  display: grid;
  position: relative;
  grid-template-columns: repeat(11, 1fr);
  padding: 0 5%;
}
.section:nth-child(4) .container__manage:nth-child(2){
  max-width: 584px;
  width: 100%;
  margin: 0 5%;
}
/* ******************************title****************************** */
.title{
  font-family: "Georgia";
  font-style: normal;
  font-weight: 700;
  color: #01996d;
}
.title--mode{
  font-size: 65px;
  margin-bottom: 30px;
  line-height: 74px;
}
.title--size{
  font-size: 50px;
  line-height: 157%;
}
.title--margin{
  margin-bottom: 20px;
}
.section--forbidden-forest .title{
  color: #ffffff;
  margin-bottom: 30px;
}
/* ******************************text****************************** */
.text{
  font-family: "Lato";
  font-style: normal;
  font-size: 20px;
  line-height: 150%;
  color: #424242;
}
.text--size{
  max-width: 420px;
  width: 100%;
  font-weight: 400;
  margin-bottom: 18px;
}
.text--mod{
  font-weight: 500;
  max-width: 652px;
  width: 100%;
  margin-top: 58px;
  margin-left: 137px;
}
.text--margin{
  font-weight: 400;
  margin-bottom: 40px;
}
.text--a,
.text--b,
.text--c{
  font-weight: 500;
}
.text--a{
  margin-bottom: 60px;
}
.text--b{
  margin-bottom: 37px;
}
.text--c{
  margin-bottom: 48px;
}
.section--forbidden-forest .text{
  font-weight: 600;
  font-size: 25px;
  line-height: 157%;
  color: #ffffff;
  margin-bottom: 57px;
}
/* ******************************link****************************** */
.link {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  max-width: 227px;
  width: 100%;
  height: 65px;
  background: #01996d;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
/* ******************************container_block****************************** */
.container_block {
  display: flex;
  max-width: 584px;
  width: 100%;
  flex-direction: column;
  height: auto;
}
/* ******************************title_text****************************** */
.title_text {
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;

  line-height: 157%;
  color: #424242;
}
.section--margin .title_text{
  font-size: 24px;
}
.section:nth-child(4) .title_text{
  font-size: 25px;
  margin-bottom: 10px;
}

/* ******************************container__card****************************** */
.container__card{
  max-width: 390px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container__card:nth-child(2){
  margin-top: 287px;
  margin-left: 50px;
  margin-right: 50px;
}
.container__card:nth-child(3){
  margin-top: 53px;
}
/* ******************************card_head****************************** */
.card_head {
  position: relative;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 150%;
  text-align: center;
  color: #000000;
}
.card_head--a{
  max-width: 181px;
  margin-bottom: 55px;
}
.card_head--b{
  max-width: 313px;
  margin-bottom: 55px;
}
.card_head--c{
  max-width: 105px;
  margin-bottom: 45px;
}
.card_head::before {
  counter-increment: section;
  content: "0" counter(section) "";
  position: absolute;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 150px;
  color: rgba(1, 153, 109, 0.2);
}
.card_head--a::before{
  top: -45px;
  left: -88px;
}
.card_head--b::before{
  top: -45px;
  left: -79px;
}
.card_head--c::before{
  top: -45px;
  left: -124px;
}
/* ******************************img****************************** */
.card_img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}
.product_img:nth-child(1){
  grid-column: 2 / -1;
  grid-row: 1;
}
.product_img:nth-child(2){
  grid-row: 1;
  grid-column: 1 / span 5;
  padding-top: 105%;
  z-index: 1;
}
/* ******************************footer****************************** */
.footer {
  display: flex;
  background: #245852;
  max-height: 654px;
  height: 100%;
  justify-content: center;
}
.footer__logo {
  max-width: 105px;
  width: 100%;
  height: auto;
}
.footer__item {
  font-family: "Lato";
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  color: #ffffff;
}
.footer__list{
  display: flex;
  flex-direction: column;
  row-gap: 60px;
}
.menu__button:hover,
.menu__link:hover,
.link:hover,
.story__container_link:hover,
.product__content_btn:hover,
.footer__item:hover
 {
  color:#32CD32;
}
.menu__button:active,
.menu__link:active,
.link:active,
.story__container_link:active,
.product__content_btn:active,
.footer__item:active
 {
  color:#4beae2;
}
/* ******************************media__min****************************** */
@media (min-width: 1140px) {
  .menu__button{
    max-width: 183px;
    width: 100%;
    height: 51px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #01996d;
    color: white;
    padding: 0 48px;
  }
  .header__container {
    margin: 0 68px;
  }
  .container {
    margin: 0 68px;
  }
  .hamburger-menu{
    max-width: 1117px;
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  #hamburger_menu__toggle{
    display: none;
  }
  .menu-toggler,.menu-toggler__line{
    display: none;
  }
  .menu__list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 556px;
    width: 100%;
  }
  .menu__list--autorization{
    max-width: 278px;
    width: 100%;
  }
  .menu{
    max-width: 1117px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Lato";
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
  }
  .header__logo{
    margin-right: 50px;
  }
  .menu__link{
    font-weight: 500;
    margin:0 10px;
  }
  .section--background {
    background: url("../img/bg4.png") center/cover no-repeat;
  }
}
/* ******************************media__max****************************** */
@media(max-width: 1139px) {
  .header {
    position: fixed;
    z-index: 30;
  }
  .section--background {
    margin-top: 85px;
    background: url("../img/bg4.png") center/cover no-repeat;
  }
  .header__container,.container {
    margin: 0 68px;
  }
  .section--margin .container_manage {
    padding: 0 25px 0 25px;
  }
}
@media (max-width: 900px) {
  .header__container {
    margin: 0 32px;
  }
  .container {
    margin: 0 0;
    padding: 0 5%;
  }
  .section--background {
    background: url("../img/bg5.png") center/cover no-repeat;
  }
  .container__manage--flex {
    flex-direction: column;
    align-items: center;
  }
  .container_block {
    margin-bottom: 30px;
  }
  .text--mod {
    margin: 0 0 0 0;
  }
  .container__manage--margin {
  padding: 0 10%;
}
}
@media (max-width: 1300px) {
  .container__manage--margin {
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  .container__card,
  .container__card:nth-child(2),
  .container__card:nth-child(3) {
    margin-top: 150px;
  }
  .section--forbidden-forest .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 25px 50px 25px ;
  }
  .section--forbidden-forest .link{
    margin-bottom: 50px;
  }
  .section:nth-child(4) .container{
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }
}